/* Global things */
body {
	color: var(--color);
	overflow: hidden;
	--background: #0f0f0f;
	--color: #dfdfdf;
	--points: #ffffff;
	background: var(--background)
}

/* General text */
h1, h2, h3, b, input {
	display: inline;
	font-family: "Lucida Console", "Courier New", monospace
}

/* These are styles for different states of components. You can make layer-specific versions with .c.locked, for example */
.locked {
	background-color: #bf8f8f;
	cursor: not-allowed;
}

/* Can meens can be clicked/bought/etc */
.can {
	cursor: pointer;
}

.can:hover {
	transform: scale(1.15, 1.15);
	box-shadow: 0 0 20px var(--points)
}

.bought {
	background-color: #77bf5f;
	cursor: default;
}

#points {
	color: var(--points);
	text-shadow: 0 0 10px var(--points);
}

#newsticker {
	position: absolute;
	top: 5px;
	right: 5px;
	left: 5px;
	height: 28px;
	line-height: 18px;
	padding: 0;
	display: block;
	background: var(--background);
	border: 3px solid var(--color);
	border-radius: 5px;
	overflow: hidden;
	user-select: none;
}

#newsticker > div {
	position: absolute;
	height: 18px;
	top: 0px;
	margin: 5px 10px;
	width: max-content;
	transition: transform linear .2s;
}

#newsticker > .new {
	transition: none;
}

#newsticker a {
	color: #02f2f2;
}
#newsticker ~ .col, #newsticker ~ .fullWidth {
	top: 45px;
	height: calc(100% - 45px);
	min-height: calc(100% - 45px);
	margin-top: 0px;
}